.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    display:inline-block;
    background-color: white;
  }
  
  .example-full-width {
    width: 100%;
  }

  .nutrition-form{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    text-align: left;
  }

  .container{
    padding-top: 20px;
  }

  .activity-icons{
    padding: 4px;
    display: inline;
    
  }